
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ModernNo;
  src: url(./fonts/ModernNo.ttf);
  font-weight: normal;
}

@font-face {
  font-family: MohaveRegular;
  src: url(./fonts/MohaveRegular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Tw Cen MT';
  src: url("./fonts/Tw Cen MT.ttf");
  font-weight: normal;
}

html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

* {
  font-family: 'Tw Cen MT', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::before,
::after {
  box-sizing: content-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #d1d5db; /* 2 */
}

body { 
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

h1,h2,h3,h4,h5,h6 {
  line-height: normal;
}

button a {
  display: block;
}

h1, button, img, svg {
  user-select: none;
}

button, input, a, textarea {
    outline:none;    
}

button:focus {
  outline: 0;
}

::-moz-selection { background: #b06d1c; color: white; }
::selection { background: #b06d1c; color: white; }

input[type="button"]::-moz-focus-inner {
  border: 0;
}

img:not([src]):not([srcset]) {
    visibility: hidden;
  }

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}



.first {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main1-sm.jpg');
}

.second {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main2-sm.jpg');
}

.third {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main3-sm.jpg');
}

.fourth {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main4-sm.jpg');
}

.fifth {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main5-sm.jpg');
}




/* Manual slide navigation */

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}



 /* Active indices background color change */

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
  transition: all 1s ease-in-out;
}
 


#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
  transition: all 1s ease-in-out;
}
 


#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
  transition: all 1s ease-in-out;
}
 


#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
  transition: all 1s ease-in-out;
}
 


#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: white;
  transition: all 1s ease-in-out;
}
 







h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#header-btn:hover {
  background: white;
  color: black;
  transition: opacity 0.2s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
}





/*  Mobile dropdown menu changes (menu-active class toggle) */

.topLine span:nth-of-type(1).menu-active {
  width: 30px;
  transition: width 0.2s ease-in-out;
}

.topLine span:nth-of-type(2).menu-active {
  width: 59px;
  transition: width 0.2s ease-in-out;
}

.topLine.menu-active {
  transform: translateX(15px) rotate(45deg);
  transition: transform 0.2s ease-in-out;
}



.bottomLine.menu-active {
  transform: translateX(15px) rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}

.bottomLine span:nth-of-type(1).menu-active {
  width: 30px;
  transition: width 0.2s ease-in-out;
}

.bottomLine span:nth-of-type(2).menu-active {
  width: 59px;
  transition: width 0.2s ease-in-out;
}


.sliderDarken.menu-active {
  z-index: 10;
  opacity: 1;
  background: rgba(0,0,0,0.45);
  transition: opacity background 0.2s ease-in-out;
}

#header-btn.menu-active {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

header h1.menu-active {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.navigation-manual.menu-active {
  z-index: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.navigation-auto.menu-active {
  z-index: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


.arrow-scroll-sm.menu-active {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


/* Dropdown menu mobile - Links font & hover border animation */

#dropdown-mobile li a {
  font-family: MohaveRegular;
  display: inline-block;
}

#dropdown-mobile li a:after {
  display: block;
  content: '';
  border-bottom: solid 1px white;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}


#dropdown-mobile li a.link-hover-effect:after {
  border-bottom: 0;
}










// SEASON ARRIVALS INTRO:




// Price tags hover effect:



// Mobile man coat price tag:

#coat-price-tag > a > rect {
  
  transition: all 0.3s ease-in-out;
}

#coat-price-tag a path:nth-of-type(1) {
  fill: white;
  transition: all 0.3s ease-in-out;
}

#coat-price-tag a path:nth-of-type(1):hover {
  cursor: pointer;
  fill: black;
  transition: all 0.3s ease-in-out;
}

#coat-price-tag a rect:hover ~ path:nth-of-type(1) {
  cursor: pointer;
  fill: black;
  transition: all 0.3s ease-in-out;
}




#coat-price-tag > path:hover {
  cursor: default;
  transform: none;
}

#coat-price-tag > path {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

#coat-price-tag a:hover ~ path {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}







// Mobile man pants price tag:

#pants-price-tag > a > rect {
  
  transition: all 0.3s ease-in-out;
}

#pants-price-tag a path:nth-of-type(1) {
  fill: white;
  transition: all 0.3s ease-in-out;
}

#pants-price-tag a path:nth-of-type(1):hover {
  cursor: pointer;
  fill: black;
  transition: all 0.3s ease-in-out;
}

#pants-price-tag a rect:hover ~ path:nth-of-type(1) {
  cursor: pointer;
  fill: black;
  transition: all 0.3s ease-in-out;
}




#pants-price-tag > path:hover {
  cursor: default;
  transform: none;
}

#pants-price-tag > path {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

#pants-price-tag a:hover ~ path {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}







// Mobile man suitcase price tag:

#suitcase-price-tag > a > rect {
  
  transition: all 0.3s ease-in-out;
}

#suitcase-price-tag a path:nth-of-type(1) {
  fill: white;
  transition: all 0.3s ease-in-out;
}

#suitcase-price-tag a path:nth-of-type(1):hover {
  cursor: pointer;
  fill: black;
  transition: all 0.3s ease-in-out;
}

#suitcase-price-tag a rect:hover ~ path:nth-of-type(1) {
  cursor: pointer;
  fill: black;
  transition: all 0.3s ease-in-out;
}




#suitcase-price-tag > path:hover {
  cursor: default;
  transform: none;
}

#suitcase-price-tag > path {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

#suitcase-price-tag a:hover ~ path {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}






/* SEASON ARRIVALS PRODUCTS PAGE */


/* box shadow hover transition */

#products a {
  position: relative;
  box-shadow: 0px 4px 18px 3px rgba(0, 0, 0, 0.27);
  transition: all 0.2s ease-in-out;
}

#products a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

#products a:hover::after {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}








/* CATEGORIES SIDE SCROLL */

#categories-slider::-webkit-scrollbar {
  display: none;
}











@media (min-width:421px) {
  
  #dropdown-mobile li a:hover:after {
    transform: scaleX(1); 
    transform-origin: 0% 50%;
  }

}