
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ModernNo;
  src: url(./fonts/ModernNo.ttf);
  font-weight: normal;
}

@font-face {
  font-family: MohaveRegular;
  src: url(./fonts/MohaveRegular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: TwCenMT;
  src: url(./fonts/TwCenMT.ttf);
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

*,
::before,
::after {
  box-sizing: content-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #d1d5db; /* 2 */
}

body { 
    margin: 0;
    font-family: TwCenMT, sans-serif;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
    line-height: normal;
}

button, input, a, textarea {
    outline:none;    
}

button:focus {
  outline: 0;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}

img:not([src]):not([srcset]) {
    visibility: hidden;
  }

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

/* .main-bg {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main1-sm.jpg');
} */

.first {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main1-sm.jpg');
}

.second {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main2-sm.jpg');
}

.third {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main3-sm.jpg');
}

.fourth {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main4-sm.jpg');
}

.fifth {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 92.19%, #000000 100%),
  url('./images/main5-sm.jpg');
}




// Hover slide indices background color change:

.manual-btn:hover {
  background: #9D9D9D;
}




// Manual slide navigation:


#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}



// Active indices background color change:

#radio1:checked ~ .navigation-auto .auto-btn1 {
  /* background: white; */
  transition: all 0.5s ease-in-out;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
  transition: all 0.5s ease-in-out;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
  transition: all 0.5s ease-in-out;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
  transition: all 0.5s ease-in-out;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: white;
  transition: all 0.5s ease-in-out;
}




h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  user-select: none;
}